<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmPK"
        tools:targetApi="31">
        <activity
            android:name=".OrganicFarmingActivity"
            android:exported="false" />
        <activity
            android:name=".BioFertilizerActivity"
            android:exported="false" />
        <activity
            android:name=".ClimateChangeActivity"
            android:exported="false" />
        <activity
            android:name=".DroughtActivity"
            android:exported="false" />
        <activity
            android:name=".VerticalFarmingActivity"
            android:exported="false" />
        <activity
            android:name=".CankerActivity"
            android:exported="false" />
        <activity
            android:name=".BlightActivity"
            android:exported="false" />
        <activity
            android:name=".DownymildewActivity"
            android:exported="false" />
        <activity
            android:name=".PowderymildewActivity"
            android:exported="false" />
        <activity
            android:name=".OtherleafActivity"
            android:exported="false" />
        <activity
            android:name=".BlackspotActivity"
            android:exported="false" />
        <activity
            android:name=".CropcareActivity"
            android:exported="false" />
        <activity
            android:name=".ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>